/* -------------------
 Small titlebars 
---------------------- */

window.ssd headerbar.titlebar {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding: 1px;
    min-height: 0;
    min-width: 0;
}

.titlebar button.titlebutton.minimize, .titlebar button.titlebutton.maximize, .titlebar button.titlebutton.close {
    min-width: 12px;
    min-height: 12px;
}

.titlebar {
    min-height: 0px;
}

/* -------------------
 Nautilus fixes 
---------------------- */

.nautilus-window box.horizontal:nth-child(3) {
    background: #323232;
    min-width: 202px;
}

.nautilus-window placessidebar {
    background: #323232;
    min-width: 200px;
}

.nautilus-window button.image-button:disabled {
    border: 0;
}

.nautilus-window button.image-button:not(.text-button), .nautilus-window button.disclosure-button {
    padding: 0;
    border: 0;
    min-width: 35px;
    min-height: 35px;
}

/* -------------------
 Windows border color 
---------------------- */

decoration {
    box-shadow: 0px 0px 1px 1px #212121;
}

headerbar {
    box-shadow: 0px -1px 0px 0px #212121;
}

/* -------------------
 Remove dashed line 
---------------------- */

scrolledwindow undershoot.top, scrolledwindow undershoot.right, scrolledwindow undershoot.bottom, scrolledwindow undershoot.left {
    background-image: none;
}